<div class="wrapper">

  <div class="navbar">
    <div class="container">
      <div class="navbar-content">

        <div class="navbar-left">
          <a class="navbar-brand" href="/">
            <img src="../../../assets/images/domain_logo_black.png" alt="">
          </a>
        </div>

      </div>
    </div>

  </div>
  <div class="container">
    <div class="row payment-wrapper">
      <div class="col">

        <div class="payment-details">

          <div class="check-icon">
            <fa-icon [icon]="faCheckCircle" size="8x"></fa-icon>
          </div>





          <p>Payment Confirmed</p>


          <a href="/order" class="order-link">
            <span> View All Orders</span>
            <fa-icon [icon]="faArrowRight" size="1x"></fa-icon>
          </a>

        </div>


      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
