<div class="footer">


  <div class="container">
    <div class="row standard-footer">
      <div class="col-md-12 text-center">
        <p>Namoyo create brandable domain names for new businesses and products. Find catchy, short and memorable
          domains for your company.
        </p>

        <p class="linklist">
          <a routerLink="/terms-and-conditions">Terms of Use</a>
          <a routerLink="/privacy-policy">Privacy Policy</a>
        </p>
      </div>
    </div>


    <div class="row standard-footer">
      <div class="col-md-10 col-xs-12">
        <p>© <a class="pinklink" href="https://namoyo.com/">Namoyo Inc.</a>. All rights reserved.</p>
        <p>Namoyo is registered in India</p>
      </div>
      <div class="col-md-2 col-xs-12 text-right social-media">
        <a href="https://facebook.com/namoyo24" target=”_blank>
          <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
        </a>
        <a href="https://twitter.com/namoyo24" target=”_blank>
          <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
        </a>
        <!-- <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
        <fa-icon [icon]="faPinterest" size="2x"></fa-icon> -->



      </div>
    </div>

  </div>


</div>
