<div class="footer">


  <div class="container">
    <div class="row standard-footer">
      <div class="col-md-12 text-center">
        <p>Domains create brandable domain names for new businesses and products. Find catchy, short and memorable
          domains for your company.
        </p>

        <p class="linklist">
          <a href="https://resources.domains.com/website-terms-of-use/">Terms of Use</a>
          <a href="https://resources.domains.com/website-terms-of-use/">Privacy Policy</a>
        </p>
      </div>
    </div>


    <div class="row standard-footer">
      <div class="col-md-10 col-xs-12">
        <p>© <a class="pinklink" href="https://domains.com/">Domains Ltd</a>. All rights reserved.</p>
        <p>Domains is registered in India</p>
      </div>
      <div class="col-md-2 col-xs-12 text-right social-media">
        <fa-icon [icon]="faFacebook" size="2x"></fa-icon>
        <fa-icon [icon]="faTwitter" size="2x"></fa-icon>
        <fa-icon [icon]="faInstagram" size="2x"></fa-icon>
        <fa-icon [icon]="faPinterest" size="2x"></fa-icon>



      </div>
    </div>

  </div>


</div>
