<div class="wrapper">

  <!-- <app-header [isSearch]="true"></app-header> -->


  <div class="container single-word" *ngIf="domain">

    <div class="row">
      <div class="col-xs-12">
        <div class="visible-xs-block">
          <div class="domain-logo">

            <div class="img-container" [style.background-color]="domain.color">
              <div class="img-text" [style.font-family]="domain.font">
                {{domain.name}}</div>
            </div>

          </div>
        </div>


        <h1 class="word-breakable">
          <span class="lead">The domain name</span>
          <a [attr.href]="'http://' + domain.name">{{domain.name | lowercase}}.{{domain.extension | lowercase}}</a>
          <span class="small">
            is for sale
          </span>
        </h1>
      </div>
    </div>

  </div>


  <div class="grey-panel" *ngIf="domain">

    <div class="container single-main">
      <div class="row">


        <div class="col-md-6 col-xs-12">
          <h4>What you get:</h4>
          <ul class="get-list">
            <li>Domain name: <b>{{domain.name | lowercase}}.{{domain.extension | lowercase}}</b>
            </li>
            <li>Excellent Customer Support</li>
          </ul>

          <div class="price-box">
            <div class="price-box-desc">

              <h4>Buy {{domain.name | lowercase}}.{{domain.extension | lowercase}}</h4>
              <div class="price-box-value">

                <div id="regular-price">
                  <span class="domain-price text-strike">
                    {{domain.price | currency:"USD"}}
                  </span>
                  <span class="domain-price">
                    {{domain.salePrice | currency:"USD"}}
                  </span>
                </div>

              </div>

            </div>
            <div class="price-box-actions">
              <div class="price-box-buttons">

                <div class="row">
                  <div class="col-md-6 col-xs-12">
                    <button class="btn btn-lg btn-buy" id="buy-button" (click)="openPaymentPage(domain.id)">
                      <fa-icon [icon]="faCheck" size="1x"></fa-icon>
                      <span id="buy-now-text">Buy now</span>
                    </button>
                  </div>
                  <div class="col-md-6 col-xs-12">
                    <button class="btn btn-lg btn-buy" id="shortlist-button" (click)="addFavourite(domain)">
                      <fa-icon [icon]="faStar" size="1x"></fa-icon>
                      <span id="buy-now-text">Shortlist</span>
                    </button>
                  </div>
                </div>

                <div class="row offer" (click)="scroll()">
                  <div class="col-md-6 col-xs-12">
                    <span>Make a Offer</span>
                  </div>
                </div>

              </div>
            </div>


          </div>

          <p>
            {{domain.description}}
          </p>
        </div>


        <div class="col-md-5 col-xs-12 col-md-offset-1 thumb-container">



          <div class="hidden-xs">
            <div class="domain-logo">

              <div class="img-container" [style.background-color]="domain.color">
                <div class="img-text" [style.font-family]="domain.color">
                  {{domain.name}}</div>
              </div>



            </div>
          </div>


          <div class="category">
            <h3>Categories</h3>
            <span *ngFor="let keyword of domain.category">
              <a [attr.href]="'/search/' + keyword.name" class="btn btn-default btn-tag">
                {{keyword.name}}
              </a>
            </span>
          </div>


          <div class="keyword">
            <h3>Keywords</h3>

            <span *ngFor="let keyword of domain.keyWords">
              <a [attr.href]="'/search/' + keyword" class="btn btn-default btn-tag">
                {{keyword}}
              </a>
            </span>
          </div>



        </div>

      </div>
    </div>

  </div>

  <div *ngIf="isOffered && domain" class="offer-form">
    <app-offer-form [domainName]="domain.name"></app-offer-form>
  </div>
  <div #offerForm></div>

  <app-footer></app-footer>

</div>
