@import "../../../assets/styles/common.scss";



.single-word {
  padding: 30px;
  color: #888;
  font-size: 18px;
  margin-top: 16vh;
  text-align: center;

  .lead {
    display: block;
    margin: 0;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4;
  }



  a {
    color: #494949;
    text-decoration: none;
  }



}


.word-breakable {
  word-break: break-all;
}

.grey-panel {
  background: #f6f6f6;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding-bottom: 140px;
}

.get-list {
  padding: 0;
  font-size: 18px;
  list-style: none;
}

.get-list li:before {
  background-image: url(../../../assets/images/tick.png);
  background-size: 14px 10px;
  display: inline-block;
  width: 14px;
  height: 10px;
  content: "";
  margin-right: 12px;
}

.single-main {
  line-height: 1.9em;
}

.domain-price {
  margin-right: 8px;
}

.domain-logo {
  text-align: center;
  margin-bottom: 40px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.15);


  width: 100%;
  height: 200px;
  position: relative;
  background-blend-mode: screen;


  .img-container {
    height: 100%;
    text-align: center;
    background-color: #eeeeee;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .img-text {
      font-family: 'BioRhyme', serif;
      font-size: 1.6em;
      font-weight: 700;
      color: #fff;
      letter-spacing: 2px;
    }

  }

}


.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

a.btn-tag {
  background: #E0E8FF;
  color: #333366;
  border: 0;
  border-radius: 8px;

  text-decoration: none;

  margin-bottom: 4px;
  margin-right: 4px;
  transition: all 0.3s;
}

.price-box {
  background-color: #fff;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin: 30px 0;
  overflow: hidden;

  .price-box-desc {
    padding: 20px 20px 0;
  }

  .price-box-value {
    font-size: 30px;
  }

  .price-box-actions {
    padding: 16px;
  }

  .price-box-buttons {

    align-items: center;
    margin-top: 10px;


    #buy-now-text {
      margin-left: 8px;
    }

    .offer {
      margin-top: 16px;
      font-size: 0.9em;
    }
  }

  .btn-buy {
    width: 100%;
    font-weight: normal;
    font-size: 1.1em;
    background: #29b6f6;
    color: #fff;
    border: 0;
    padding: 6px 14px;
    line-height: 30px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
  }


}





@media (min-width: 992px) {

  .thumb-container {
    margin-top: 32px;
  }

  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

}



.visible-xs-block {
  display: none !important;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }

  .visible-xs-block {
    display: block !important;
  }
}





.style-text {
  font-family: 'Calistoga', cursive;
  color: #fff;
  font-size: 2em;
  letter-spacing: 4px;
}
