@import "../../../assets/styles/common.scss";

.home {
  background: #29b6f6;
  color: #fff;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  min-height: 60vh;

  .jumbotron {
    background: transparent;
    margin-top: 8vh;
    margin-bottom: 4vh;
    padding-top: 48px;
    padding-bottom: 36px;
    color: #fff;
    text-align: center;
  }

  .jumbotron .search-control {
    max-width: 500px;
    margin: 30px auto 0;
  }

  .jumbotron h1 {
    font-size: 47px;
    margin-bottom: 15px;
  }



}


.lead {
  opacity: 1;
  margin: 36px;
  font-size: 21px;
  font-weight: 200;
  text-align: center;

  a {
    color: #000;
  }
}


form {
  display: block;
  margin-top: 0em;
}


.container-home {
  margin-top: 8vh;
  background-color: #fff;
  padding: 50px 0;
  color: #000;
}

.small-title {
  text-align: center;
  font-weight: 700;
  color: #292929;
  text-decoration: none;
  font-size: 24px;
}


input[type=text] {
  color: #444;
  font-size: 20px;
  height: 36px;
  border-radius: 8px;

  width: 100%;
  flex: 1 1 100%;
  padding: 8px 15px;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  background: #fff;
}

input[type=submit] {
  width: 22px;
  height: 22px;
  margin-right: 15px;
  border: 0;
  flex: 0 0 auto;
  background: url(../../../assets/images/search.png) no-repeat center;
  background-size: contain;

  -webkit-appearance: button;
  cursor: pointer;
}
