@import "../../../assets/styles/common.scss";

.wrapper {
  width: 100%;
}

.domain-result {
  margin-top: 90px;
  line-height: 1.9em;
  color: #333;
}

.search-page-header {
  border-bottom: 1px solid #eee;
  padding: 14px 1em;
  height: 64px;

  .col-md-3 {
    border-right: 1px solid #eee;
  }

  .sort {
    text-align: right;
    display: inline;
    float: right;
    font-weight: 600;

    label {
      margin-right: 8px;
    }
  }

  .header {
    float: left;
    margin-right: 20px;

    h1 {
      margin: 5px 0 0 0;
      font-size: 22px;
      display: inline-block;
      white-space: nowrap;
      text-align: start;
    }
  }
}

.sidebar {
  //border-top: 1px solid #eee;
  font-weight: 600;
  padding-bottom: 6vw;

  input {
    margin-right: 8px;
  }

  .slider-filter {
    margin-top: 32px;
    //border-top: 1px solid #eee;

    h4 {
      margin-top: 4px;
      margin-bottom: 4px;
    }

    h4:nth-of-type(1) {
      margin-top: 32px;
    }
  }
}

.content {
  height: 100%;
  width: 100%;
  border-left: 1px solid #eee;
  min-height: 400px;
}

.results {
  margin-top: 0.5vh;
  padding: 0.5em 0.5em 3em 0.5em;
  text-align: center;
}

mat-slider {
  width: 180px;
  color: #052f6d;
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

@media (max-width: 767px) {
  .domains-container .sidebar {
    max-height: 0;
    background: #fff;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
  }

  .sort {
    display: none !important;
  }

  .search-page-header {
    width: 100%;
  }

  .content {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .domains-container .sidebar .spacer {
    min-height: 64px;
    max-height: 64px;
    border-bottom: 1px solid #eee;
  }
}

.details-card {
  margin: 0 auto;
  margin-bottom: 30px;
}

.custom-slider {
  padding: 8px;
}

::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-bar {
    background: #ffe4d1;
    height: 2px;
  }

  .custom-slider .ng5-slider .ng5-slider-selection {
    background: orange;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    background-color: #052F6D;
  }
}
