@import "../../../assets/styles/common.scss";

.navbar {
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0;
  min-height: 64px;
  background: #eceff1;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;

  .navbar-content {
    width: 90%;
    display: flex;
    align-items: center;
  }

  .navbar-left {
    flex: 0 1 auto;
    width: 140px;
    min-width: 90px;
  }

  .navbar-search {
    flex: 1 1 auto;
    padding: 0 20px;

    .search-control {
      width: 500px;
      margin: 0 auto;
    }
  }

  .navbar-middle {
    flex: 0 1 auto;

    .nav {
      list-style: none;
    }

    ul {
      float: right;
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;

      .fav-link {
        margin-top: -8px;
      }

      li {
        float: left;
        position: relative;
        display: block;
        text-align: -webkit-match-parent;

        a {
          color: #0e0e0e;
          opacity: 1;
          padding-left: 15px;
          padding-right: 15px;
          text-decoration: none;
        }
      }
    }
  }

  .navbar-space {
    flex: 1 1 auto;
  }

  .navbar-brand {
    float: left;
    height: 48px;
    padding: 8px 8px;

    img {
      width: 100%;
      height: auto;
      margin-top: 8px;
      vertical-align: middle;
    }
  }
}

input[type="text"] {
  color: #444;
  font-size: 20px;
  height: 28px;
  border-radius: 8px;

  width: 100%;
  flex: 1 1 100%;
  padding: 8px 8px;
  border: 0;
  outline: none;
  -webkit-appearance: none;
  background: #fff;
}

input[type="submit"] {
  width: 22px;
  height: 22px;
  margin-right: 15px;
  border: 0;
  flex: 0 0 auto;
  background: url(../../../assets/images/search.png) no-repeat center;
  background-size: contain;

  -webkit-appearance: button;
  cursor: pointer;
}

.log-in-out {
  cursor: pointer;
}

.fav-link {
  a {
    color: #052F6D !important;
  }

}

.collapse.in {
  display: block;
}

.fade.in {
  opacity: 1;
}

.visible-xs-block {
  display: none !important;
}



.cat-select {
  label {
    color: #fff;
    font-weight: 500;
  }
}



.navbar-hamburger {
  flex: 0 1 auto;
  width: 30px;
  height: auto;



  button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #052F6D;
  }
}

@media (min-width: 1200px) {
  .navbar-content {
    width: 90%;
    margin: 0px 64px 0px;
  }
}

@media (max-width: 768px) {

  .mobile-nav {
    z-index: 9999;
    position: fixed;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .navbar-middle {
    display: none;
  }

  .navbar-search {
    .search-control {
      width: 170px !important;
      margin: 0 auto;
    }
  }

  .navbar-bottom {
    display: none;
  }


  .visible-xs-block {
    display: block !important;
  }

  .mobile-nav {
    z-index: 9999;
    position: fixed;
    align-items: center;
    background: #052F6D;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    a {
      text-decoration: none;
    }
  }

  .mobile-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: space-around;
    top: 10%;
    left: 0;
    bottom: 20%;
    right: 0;
  }

  .mobile-nav ul li {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-nav ul li a {
    flex: 1;
    color: #fff;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  a.mobile-close,
  a.mobile-close:visited {
    display: block;
    position: fixed;
    color: rgba(255, 255, 255, 0.5);
    font-size: 50px;
    top: 15px;
    right: 15px;
    width: 48px;
    height: 48px;
    text-align: right;
  }
}
